.heart {
    margin-top: -30%;
    height: 180%;
    width: 100%;
    border-radius: 50%;
}
Body {
    background-color : #6acaea;
}
.spinner-container {
    margin-top: 15%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

